text {
  pointer-events: none;
}

body {
    overflow: hidden;
	  margin: 0;     /* This is used to reset any browser-default margins */
    height: 100vh; /* This is needed to overcome a Chrome bug. */
    width: 100vw;  /* As above. */
    -moz-user-select : none;
    -webkit-user-select : none;
}

.main-canvas {
	width : 100vw;
	height : 100vh;
}

line {
  stroke : #000;
}

path {
  stroke : #000;
}

circle {
  stroke-width: 0;
  transition: stroke-width 400ms, stroke 400ms;
}

rect {
  stroke: #000;
}

.diagnosis {
  fill : rgb(255,255,180);
}

.symptom {
  fill : rgb(255,180,255);
}

.examination {
  fill : rgb(255,180,180);
}

.therapy {
  fill : rgb(180,255,255);
}

path {
  fill : none;
}

.positive{
  stroke: rgba(60,225,60,1);
  stroke-width : 5;
}

.negative{
  stroke: rgba(230,100,100,1);
  stroke-width : 5;
}

.unknown{
  stroke: rgba(222,222,0,1);
  stroke-width : 5;
}

path.negative {
  fill: rgba(255,0,0,0.5);
  stroke: none;
  stroke-width : 1;
}

path.positive {
  fill: rgba(0,255,0,0.5);
  stroke: none;
  stroke-width : 1;
}

path.unknown {
  fill: rgba(255,255,0,0.5);
  stroke: none;
  stroke-width : 1;
}

text {
  stroke : #000;
  fill : #000;
}

.full-height{
  height:100%;
}

.close-btn{
  padding: 10px;
  position: fixed;
  cursor: pointer;
}

.loader {
    border-left: 16px solid #2196F3;
    border-top: 16px solid #fff; 
    border-right: 16px solid #2196F3; 
    border-bottom: 16px solid #fff;  
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.half-screen{
  float:left;
}

.flex-container{
  display:flex;
  flex-direction: column;
}

.flex-list{
  display:flex;
  overflow: auto;
  flex-direction: column;
  margin-bottom: 25px !important;
}

/* Landscape */
@media screen and (min-width: 1000px) {
   .half-screen {
      width: 50%;
   }
   .hide-two-pane{
      display: none !important;
   }
   .hide-one-pane{
      display: block !important;
   }
}

/* Portrait */
@media screen and (max-width: 999px) {
   .half-screen {
      width: 50%;
      width: 100%;
   }
   .hide-two-pane{
      display: block;
   }
   .hide-one-pane{
      display: none;
   }
}
