text {
  pointer-events: none;
}

body {
    overflow: hidden;
	  margin: 0;     /* This is used to reset any browser-default margins */
    height: 100vh; /* This is needed to overcome a Chrome bug. */
    width: 100vw;  /* As above. */
}

.main-canvas {
	width : 100vw;
	height : 100vh;
}

line {
  stroke : #000;
}

circle, rect, ellipse {
  stroke : #000;
}

text {
  stroke : #00f;
  fill : #00f;
}